* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #FFF8F0;
}

#root {
  width: 100%;
  max-width: 100%;
  min-height: 100svh;
  text-align: left;
  border: none;
}
